.container {
    @media (max-width: 768px) {
        margin-top: 84px;
    }
}

.select {
    touch-action: manipulation; /* Ограничивает взаимодействие */
}

.option {
    font-size: inherit !important;
}
